In [1]:
import sklearn

In [2]:
print('a')

a

In [3]:
from sklearn.preprocessing import StandardScaler
X = [[0, 15], [1, -10]]
StandardScaler().fit(X).transform(X)

array([[-1.,  1.],
       [ 1., -1.]])

In [4]:
import pandas as pd

In [5]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
x=pd_data[['weight']]
y=pd_data[['mpg']]

In [9]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(x,y)

LinearRegression()

In [12]:
lr.coef_, lr.intercept_ #기울기, 절편

(array([[-0.00767661]]), array([46.31736442]))

#### y = 0.14766146x + 12.10283073

In [13]:
lr.score(x,y) #정확도

0.6917929800341573

## 사이킷 런 모델링을 통해서 두 데이터를 주어주고 선형모델을 만든것

In [14]:
y_predicted = lr.predict([[99]])

In [15]:
y_predicted

array([[45.55738002]])

1. 정보단계: 수집 가공
- 문제 데이터 확인 및 처리
2. 교육 단계: 머신 대상
- 컬럼선택
- 모델 선택
- 교육
- 정확도 확인
3. 서비스 단계:고객응대

#### X의 값을 늘릴수 있다

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y)

In [18]:
X_train, X_test, Y_train, Y_test

(     weight
 363  3415.0
 49   2220.0
 73   4098.0
 153  3459.0
 297  3530.0
 ..      ...
 140  4257.0
 200  3574.0
 224  4295.0
 252  3535.0
 179  2945.0

 [298 rows x 1 columns],
      weight
 367  2605.0
 327  2950.0
 226  3425.0
 273  2405.0
 261  3410.0
 ..      ...
 254  2965.0
 319  2542.0
 144  1649.0
 242  2600.0
 143  2300.0

 [100 rows x 1 columns],
       mpg
 363  22.4
 49   23.0
 73   13.0
 153  18.0
 297  25.4
 ..    ...
 140  14.0
 200  18.0
 224  15.0
 252  19.2
 179  22.0

 [298 rows x 1 columns],
       mpg
 367  28.0
 327  36.4
 226  20.5
 273  23.9
 261  18.1
 ..    ...
 254  20.2
 319  31.3
 144  31.0
 242  21.5
 143  26.0

 [100 rows x 1 columns])

In [19]:
lr.fit(X_train, Y_train)

LinearRegression()

In [20]:
lr.coef_, lr.intercept_ #기울기, 절편

(array([[-0.0076719]]), array([46.30408641]))