In [41]:
import sklearn

In [2]:
print('a')

a

In [3]:
from sklearn.preprocessing import StandardScaler
X = [[0, 15], [1, -10]]
StandardScaler().fit(X).transform(X)

array([[-1.,  1.],
       [ 1., -1.]])

In [4]:
import pandas as pd

In [5]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [7]:
from sklearn.linear_model import LinearRegression

In [22]:
x=pd_data[['weight','cylinders']]

In [23]:
y=pd_data[['mpg']]

In [10]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [11]:
lr = LinearRegression()

In [24]:
lr.fit(x,y)

LinearRegression()

In [13]:
lr.coef_, lr.intercept_ #기울기, 절편

(array([[-0.00767661]]), array([46.31736442]))

#### y = 0.14766146x + 12.10283073

In [14]:
lr.score(x,y) #정확도

0.6917929800341573

## 사이킷 런 모델링을 통해서 두 데이터를 주어주고 선형모델을 만든것

In [15]:
y_predicted = lr.predict([[99]])

In [16]:
y_predicted

array([[45.55738002]])

1. 정보단계: 수집 가공
- 문제 데이터 확인 및 처리
2. 교육 단계: 머신 대상
- 컬럼선택
- 모델 선택
- 교육
- 정확도 확인
3. 서비스 단계:고객응대

#### X의 값을 늘릴수 있다

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y)

In [27]:
X_train, X_test, Y_train, Y_test

(     weight  cylinders
 96   3821.0          8
 81   2288.0          4
 350  2215.0          4
 214  3870.0          8
 65   4129.0          8
 ..      ...        ...
 99   2945.0          6
 371  2525.0          4
 71   2330.0          3
 239  1985.0          4
 3    3433.0          8

 [298 rows x 2 columns],
      weight  cylinders
 107  2789.0          6
 223  4140.0          8
 190  4215.0          8
 338  2490.0          4
 84   2100.0          4
 ..      ...        ...
 355  2210.0          4
 254  2965.0          6
 200  3574.0          6
 375  1980.0          4
 361  2900.0          6

 [100 rows x 2 columns],
       mpg
 96   13.0
 81   28.0
 350  34.7
 214  13.0
 65   14.0
 ..    ...
 99   18.0
 371  29.0
 71   19.0
 239  30.0
 3    16.0

 [298 rows x 1 columns],
       mpg
 107  18.0
 223  15.5
 190  14.5
 338  27.2
 84   27.0
 ..    ...
 355  33.7
 254  20.2
 200  18.0
 375  36.0
 361  25.4

 [100 rows x 1 columns])

In [28]:
lr.fit(X_train, Y_train)

LinearRegression()

In [29]:
lr.coef_, lr.intercept_ #기울기, 절편

(array([[-0.00664354, -0.73036697]]), array([47.33330338]))

In [30]:
lr.score(X_train, Y_train)

0.7007739855248492

In [34]:
lr.score(X_test,Y_test)

0.6692423578846011

In [35]:
lr.predict([[3504.0, 8]])

array([[18.21139733]])

In [36]:
lr.predict([[2790.0, 4]])

array([[25.87635401]])

In [38]:
import pickle

In [40]:
pickle.dump(lr,open('./saves/autompg_lr.pkl','wb'))

In [ ]:
abc = pickle.load(open('./saves/autompg_lr.pkl','rb'))